@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  overflow: hidden;
  background-color: rgba(27, 47, 57);
  color: rgba(182, 57, 127);
}

div {
  display: block;
}


.nav-item{
    list-style: none;
    margin-right: 30px;
  
  }

.container {
  /* padding-bottom: 50px;*/
}

.sub-container {
  padding: 0 4rem;
}

.hero {
  min-height: 90vh;
  padding: 4rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.villan {
  flex: 1 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea82;
  display: flex;
  max-height: 10vh;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.villan div {
  margin: 0 1rem;
  text-align: center;
}

div.box {
  text-align: right;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: rgba(148, 199, 47);
  text-decoration: underline;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.role {
  font-weight: bold;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-rounded {
  color: aliceblue;
  position: absolute;
  z-index: 10;
  font-size: 100px;
}

div.hamburger-menu {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  ul.villan {
    display: none;
  }
  div.hamburger-menu {
    display: block;
  }
  main {
    display: block;
  }
}

.ham-menu-bg {
  background-color: #0070f3;
  height: 100vh;
  width: 80vw;
  z-index: 8;
  display: none;
}

.expand-btn:target ~ .ham-menu-bg {
  display: block;
}

/* new */

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

@media screen and (min-width: 601px) {
  label.menu__btn {
    display: none;
  }
}